header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
header .header__h6 {
  margin-right: auto;
}
header .header__ul {
  list-style-type: none;
}
header .header__ul li {
  display: inline-block;
  padding: 0px 20px;
}
header .header__ul li a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #057ca3;
}
header .header__ul li a {
  transition: all 0.3s ease 0s;
}
header .header__ul li a:hover {
  color: blue;
}
header button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #057ca3;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #71fecb;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
header button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #057ca3;
}